/*==================*/

.header {
    -fx-background-color: lightseagreen;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-text-fill: white;
}

.backButton {
    -fx-background-color: lightseagreen;
    -fx-text-fill: white;
    -fx-padding: 10px 30px 10px 30px;
    -fx-font-size: 20px;
}

.backButton:hover {
    -fx-background-color: #31C3BB;
}

.backButtonWrapper {
    -fx-padding: 10px;
}

.window {
    -fx-background-color: white;
}

.button {
    -fx-background-color: lightseagreen;
    -fx-text-fill: white;
    -fx-padding: 10px 30px 10px 30px;
    -fx-font-size: 20px;
}


/*==================*/

#login {
    -fx-alignment: center;
    -fx-background-color: white;
}

#loginPane {
    -fx-alignment: center;
}

#loginBtn {
    -fx-padding: 10px;
}

/*==================*/

/* Login */

.inputWrapper {
    -fx-padding: 10px;
}

.inputFieldLabel {
    -fx-font-size: 20px;
}

.inputField {
    -fx-border-color: black;
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-min-width: 300px;
}

.inputField:focused {
    -fx-focus-color: #31C3BB;
}

#loginHeaderWrapper {
    -fx-padding: 10px;
    -fx-alignment: center;
}

#loginHeader {
    -fx-font-size: 40px;
}

#loginButtonWrapper {
    -fx-alignment: center;
    -fx-padding: 10px;
}

#loginButton {
    -fx-background-color: lightseagreen;
    -fx-text-fill: white;
    -fx-padding: 10px 30px 10px 30px;
    -fx-font-size: 20px;
}

#loginButton:hover {
    -fx-background-color: #31C3BB;
}

/*==================*/

/* AdminOverview */

.adminButtonWrapper {
    -fx-alignment: center;
}

.adminMenuButton {
    -fx-background-color: lightseagreen;
    -fx-text-fill: white;
    -fx-padding: 10px 30px 10px 30px;
    -fx-font-size: 20px;
    -fx-min-width: 200px;
}

.adminMenuButton:hover {
    -fx-background-color: #31C3BB;
}

/*==================*/

/* UserSettings */

#userList {
    -fx-background-color: red;
    -fx-min-width: 100%;
}

#UserListHeaderWrapper {
    -fx-font-size: 40px;
    -fx-padding: 10px;
}

#userTable {
    -fx-tab-min-width: 50px;
}

.userMenuButton {
    -fx-background-color: lightseagreen;
    -fx-text-fill: white;
    -fx-padding: 10px 30px 10px 30px;
    -fx-font-size: 20px;
    -fx-min-width: 200px;
}

.userMenuButton:hover {
    -fx-background-color: #31C3BB;
}

#right {
    -fx-padding: 20px;
}

#createUserBottom {
    -fx-padding: 20px;
}

.popupControls {
    -fx-padding: 20px;
    -fx-alignment: center;
}

.popupButton {
    -fx-background-color: lightseagreen;
    -fx-text-fill: white;
    -fx-padding: 10px 30px 10px 30px;
    -fx-font-size: 20px;
    -fx-min-width: 200px;
}

.popupButton:hover {
    -fx-background-color: #31C3BB;
}

.timeslot {
    -fx-font-size: 20px;
}

.ordertable {
    -fx-padding: 10px;
}

#orderTableWrapper {
    -fx-padding: 10px;
}

/* add restriction */

#addRestrictionButtonWrapper {
    -fx-alignment: center;
    -fx-padding: 20px;
}